// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Colors
$color-text-dark: #333333;
$color-text-light: #ffffff;
$color-green: #28a745;
$color-green-dark: #1e7e34;
$color-yellow: #ffcc00;
$color-light-green: #7ed957;
$color-brown: #8b5e3c;

// // Images (usually set as paths or URLs)
// $logo-image: '/assets/images/logo.png';
// $bros-image: '/assets/images/bros.png';

// $feature-img-1: '../../assets/images/Animal_Listing_Logger.png';
// $feature-img-2: '../../assets/images/Equipment_Listing_Logger.png';
// $feature-img-3: '../../assets/images/Structure_Listing_Logger.png';
// $feature-img-4: '../../assets/images/Crop_Listing_Logger.png';
