.LoginPage {
    background-color: #fff;
    padding: 2rem;

    .login-form {
        .login-header {
            h2 {
                color: #00AD00;
                font-size: 2rem;
            }

            p {
                color: #000;
            }
        }

        .login-inputs {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

@media only screen and (min-width: 768px ) {

}

@media only screen and (min-width: 1080px ) {
    
}